$color-white: #fff;
$color-black: #000;

$color-gray-dark-1: #191919;
$color-gray-dark-2: #222222;

$color-gray-light-1: #e1e1e1;

$color-secondary: #c7a254;

@mixin clearfix {
  content: "";
  display: block;
  clear: both;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@function linear-bg($url) {
  @return linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(#{$url});
}
