.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  &::after {
    @include clearfix;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 8.33% * $i;
    float: left;
    padding: 8px;
  }
}

@media screen and (max-width: 920px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 8px;
    }
  }
}

@media screen and (max-width: 556px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 8px;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  border: 1px solid #333;

  @media screen and (max-width: 768px) {
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }
}
