// HEADER
.header {
  padding-bottom: 1.5rem;
  position: absolute;
  top: 0;
  // left: 50%;
  // transform: translate(-50%);
  left: 0;
  width: 100%;
  z-index: 999;

  &__top {
    text-align: center;
    padding-top: 2rem;
  }

  &__bottom {
    padding-top: 3rem;
  }

  &__logo {
    // font-size: 6rem;
  }
}

// MAIN BLOCK
.main {
  padding-top: 190px;
}

// HERO SECTION
.hero {
  height: calc(100vh - 190px);
  background-color: orange;
  background-image: linear-gradient(
      90deg rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/hero.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  .heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn.btn--cta {
      margin-top: 3rem;
    }
  }
}
