// HEADER
.header {
  padding-bottom: 1.5rem;
  position: fixed;
  top: 0;
  // left: 50%;
  // transform: translate(-50%);
  background-color: $color-white;
  left: 0;
  width: 100%;
  z-index: 999;

  &__top {
    text-align: center;
    padding-top: 2rem;
  }

  &__bottom {
    padding-top: 3rem;
  }

  &__logo {
    // font-size: 6rem;
  }
}

// MAIN BLOCK
.main {
  padding-top: 190px;
}

// HERO SECTION
.hero {
  height: calc(100vh - 190px);
  background-image: linear-gradient(
      90deg rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/hero.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  .heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn.btn--cta {
      margin-top: 3rem;
    }
  }
}

.section {
  padding-top: 10rem;
}

// STORIES section
.stories {
  .story {
    padding-bottom: 4rem;
    display: flex;
    align-items: stretch;

    &__text {
      text-align: center;
      display: flex;
      align-items: stretch;
      justify-content: center;
      height: 100%;
    }

    &__photos {
      display: flex;
      justify-content: space-between;

      div {
        padding: 0 1rem;
      }
    }
  }
}

// MENU section
.menu {
  &__heading {
    height: 50vh;
    background: linear-bg($url: "../images/bg-2.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h1 {
      @include center;
    }
  }
}
